In [3]:
li = [1,2,3,2,1, 4, 4, 5,5,5]
li.sort()
u2 = []
unique = []
#unique = [li[i] for i in range(0,len(li)-1) if (li[i] != li[i+1] and i < len(li)-1) or (i == len(li)-1)]
[u2.append(i) for i in li if i not in u2 ]
u2

[1, 2, 3, 4, 5]

## OBJECTIVES

- Maps
- Lambda
- Filter
- Use Cases - File / Data Encryption

#### Mapping - Entity with Function

f : x`^`2 + 3`*`x + 9

x : [1,10]

y = f(x)

syntax :  map(function, Iterable)

In [8]:
# function to implement map function example
def powerN(a,n):
    for i in range(n):
        print(a**i, end=" ")
    return
powerN(int(input()),int(input()))

5
5
1 5 25 125 625

In [71]:
def cube(n):
    return n**3
li = [1,2,3,4,5]
list(map(cube,li))

tuple(map(float, li))

numbers = [int(i) for i in li ]
[cube(i) for i in numbers]

[1, 8, 27, 64, 125]

### Filter

Used to check Boolean Values

In [23]:
#example 
li = [1,2,'a','b','c', 3]

def isDigit(c):
    c = str(c)
    if c.isdigit():
        return True
    return False

#isDigit('a')

list(filter(isDigit, li))

[1, 2, 3]

In [26]:
#example 
li = [1,2,'a','b','c', 3]

def isDigit(c):
    c = str(c)
    if c.isdigit():
        return False
    return True

#isDigit('a')

list(filter(isDigit, li))

['a', 'b', 'c']

In [66]:
# Identify all primes in a range

def check_prime(n):
    if n==2:
        return True
    for i in range(2,n):
        if n%i == 0:
            return False
    return True

lb,ub = 500,600
prime_list = list(filter(check_prime, range(lb, ub+1)))
prime_list

[503, 509, 521, 523, 541, 547, 557, 563, 569, 571, 577, 587, 593, 599]

In [68]:
# Using list Comprehension

prime_list1 = [i for i in range(lb,ub+1) if check_prime(i)]
prime_list1

[503, 509, 521, 523, 541, 547, 557, 563, 569, 571, 577, 587, 593, 599]

### Lambda

Anonynus Function
Lambda can be embedded into lists, Maps, Filters

Syntax : lambda argument(s): expression

In [75]:
rem = lambda num: num%2
rem(5)

1

In [88]:
#Lambda in Map

a = list(map(lambda num: num**3, range(1,10)))
a

[1, 8, 27, 64, 125, 216, 343, 512, 729]

In [76]:
#Lambda in Map

number_list = [1,2,3,4,5,6,7,8,9]

result = list(map(lambda num: num%2 , number_list))
result

[1, 0, 1, 0, 1, 0, 1, 0, 1]

In [93]:
# Lambda i Filter

number_list = [1,2,3,4,5,6,7,8,9]

result = list(filter(lambda num: num>7 , number_list))
result

[8, 9]

In [104]:
#
from random import randint

first_internal = [randint(0,25) for i in range(10)]
second_internal = [randint(0,25) for io in range(10)]

avg_internal = list(map(lambda x,y: (x+y)//2, first_internal, second_internal))
avg_internal

[7, 18, 18, 21, 15, 5, 17, 15, 1, 8]

In [109]:
pass_fail = list(map(lambda pas: pas>10, avg_internal ))
pass_fail

[False, True, True, True, True, False, True, True, False, False]

In [110]:
avg_passed = list(filter(lambda pas: pas>=15, avg_internal ))
avg_passed

[18, 18, 21, 15, 17, 15]

In [111]:
avg_failed = list(filter(lambda pas: pas<15, avg_internal ))
avg_failed

[7, 5, 1, 8]

### Applying functional programming to the marks analysis application

In [16]:
# Generate Marks data 
from random import randint

def generateMarks(n, lb, ub):
    filename = 'DataFiles/Marks.txt'
    with open(filename, 'w') as f:
        for i in range(n):
            f.write(str(randint(lb, ub))+'\n')

generateMarks(300, 0, 100)

In [28]:
# Mark Analysis
# Percentage of Passed, Failed and Distinction
# Frequency of Highest & Lowest Mark

import re
def readMarklist(filepath):
    with open(filepath, 'r') as fh:
        data = fh.read().split()
    return list(map(int, data))

def classAverage(filepath):
    marks_list = readMarklist(filepath)
    return sum(marks_list)//len(marks_list)

def failedPercentage(filepath):
    marks_list = readMarklist(filepath)
    failedcount = len(list(filter(lambda x:x <35, marks_list)))
    return (failedcount/len(marks_list)) * 100

def passedPercentage(filepath):
    return 100 - failedPercentage(filepath)

def distinctionPercentage(filepath):
    marks_list = readMarklist(filepath)
    distinctioncount = len(list(filter(lambda x:x >75, marks_list)))
    return (distinctioncount/len(marks_list)) * 100

def highestMarksFrequency(filepath):
    marks_list = readMarklist(filepath)
    return marks_list.count(max(marks_list))

def lowestMarksFrequency(filepath):
    marks_list = readMarklist(filepath)
    return marks_list.count(min(marks_list))

    

filepath = 'DataFiles/Marks.txt'
print(classAverage(filepath))
print(failedPercentage(filepath))
print(passedPercentage(filepath))
print(distinctionPercentage(filepath))
print(highestMarksFrequency(filepath))
print(lowestMarksFrequency(filepath))

50
33.666666666666664
66.33333333333334
25.333333333333336
6
2

## Data Encryption


key - Mapping of characters with replaced 

0 -> 4
1 -> 5
2 -> 6
3 -> 7  ..........soon

In [36]:
# FUnction to generate key for encryption
keypath = 'DataFiles/key.txt'
def generateKey(keypath):
    with open(keypath, 'w') as key:
        for i in range(10):
            if i<6:
                key.write(str(i)+' '+ str(i+4)+'\n')
            else:
                #key.write(str(i)+' '+str(i-6)+'\n')
                key.write(str(i)+ ' '+str(i+4)[-1:]+'\n')
        return     
generateKey(keypath)

In [39]:
# FUnction to generate key for encryption
keypath = 'DataFiles/key.txt'
def generateKey1(keypath):
    with open(keypath, 'w') as key:
        for i in range(10):
            if i<(10-5):
                key.write(str(i)+' '+ str(i+5)+'\n')
            else:
                #key.write(str(i)+' '+str(i-6)+'\n')
                key.write(str(i)+ ' '+str(i+5)[-1:]+'\n')
        return     
generateKey1(keypath)

In [ ]:
# FUnction to generate key for encryption

def generateKey2(keypath,n,k):
    with open(keypath, 'w') as key:
        for i in range(n):
            if i<(n-k):
                key.write(str(i)+' '+ str(i+k)+'\n')
            else:
                key.write(str(i)+ ' '+str(i+k)[-1:]+'\n')
        return   
keypath = 'DataFiles/key.txt'
n = int(input())
key = int(input)
generateKey2(keypath,n,key)

In [4]:
keypath = 'DataFiles/key.txt'

In [5]:
# Function to encrypt a data file

def dictionaryKeyFile(keypath):
    key ={}
    with open(keypath, 'r') as f:
        for line in f:
            line = line.split()
            key[line[0]] = line[1]
    return key

dictionaryKeyFile(keypath)

{'0': '5',
 '1': '6',
 '2': '7',
 '3': '8',
 '4': '9',
 '5': '0',
 '6': '1',
 '7': '2',
 '8': '3',
 '9': '4'}

In [6]:
def encryptMarksData(datafile, keyfile):
    #contruct a dictionary for key data
    key = dictionaryKeyFile(keyfile)
    with open(datafile, 'r') as f:
        filedata = f.read().split('\n')
    with open('DataFiles/encryptionMarks.txt','w') as f:
        for mark in filedata:
            line = ' '
            for n in mark:
                line += key[n]
            f.write(line+'\n')
    return
datafile = 'DataFiles/Marks.txt'
keyfile = 'DataFiles/key.txt'
encryptMarksData(datafile, keyfile)

In [13]:
# Function to decrypt the encrypted daata

def decryptMarksData(encryptedfile, keyfile):
    key = dictionaryKeyFile(keyfile)
    newkey = {}
    for key,value in key.items():
        newkey[value] = key 
    with open(encryptedfile, 'r') as f:
        filedata = f.read().split('\n')
        
    with open('DataFiles/decryptedMarks.txt','w') as f:
        for encryptedMark in encryptedfile:
            line = ''
            for n in encryptedMark:
                line += newkey[n]
            f.write(line +'\n')
    return
encryptedfile = 'DataFiles/encryptionMarks.txt'
keyfile = 'DataFiles/key.txt'
decryptMarksData(encryptedfile, keyfile)

KeyError: 'D'

### Pandas

Use Cases

- Data Cleaning
- Data Tranforming
- Data Analysis

#### Notations

- Series
- Data Frames

In [40]:
import pandas as pd

internal1 = { 's1' : 21, 's2' : 18, 's3': 67}
internal1 = pd.Series(internal1)
internal2 = { 's1' : 25, 's2' : 23, 's3': 56}
internal2 = pd.Series(internal2)

In [41]:
final = {'Internal1': internal1, 'Internal2': internal2}
final = pd.DataFrame(final)
final['Internal1']

s1    21
s2    18
s3    67
Name: Internal1, dtype: int64

In [42]:
final

    Internal1  Internal2
s1         21         25
s2         18         23
s3         67         56

In [43]:
final.columns

Index(['Internal1', 'Internal2'], dtype='object')

In [44]:
final.values

array([[21, 25],
       [18, 23],
       [67, 56]], dtype=int64)

In [45]:
final.values[2]

array([67, 56], dtype=int64)

In [46]:
final.values[2,0]
final.values[2][0]

67

In [47]:
for row in final.values:
    print('Internal1 -', row[0], ',','Internal2 - ', row[1])

Internal1 - 21 , Internal2 -  25
Internal1 - 18 , Internal2 -  23
Internal1 - 67 , Internal2 -  56

In [50]:
final.loc['s4'] = [15,21]
final

    Internal1  Internal2
s1         21         25
s2         18         23
s3         67         56
3          15         21
s4         15         21

In [57]:
final=final.drop(3)
final

    Internal1  Internal2
s1         21         25
s2         18         23
s3         56         25
s4         15         21

In [52]:
final.values[2,0]=25

In [58]:
final

    Internal1  Internal2
s1         21         25
s2         18         23
s3         56         25
s4         15         21

In [59]:
final.values[2] = [56,25]
final

    Internal1  Internal2
s1         21         25
s2         18         23
s3         56         25
s4         15         21

In [62]:
#read csv file data
import pandas as pd
filepath = 'Datafiles/Income.csv'
incomedf = pd.read_csv(filepath)
incomedf

,GEOID,State,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,04000US01,Alabama,37150,37952,42212,44476,39980,40933,42590,43464,41381
1,04000US02,Alaska,55891,56418,62993,63989,61604,57848,57431,63648,61137
2,04000US04,Arizona,45245,46657,47215,46914,45739,46896,48621,47044,50602
3,04000US05,Arkansas,36658,37057,40795,39586,36538,38587,41302,39018,39919
4,04000US06,California,51755,55319,55734,57014,56134,54283,53367,57020,57528

In [70]:
# Extract income of all states in 2013

#California 
for row in incomedf.values:
    print(row[1], ':', row[-1])

Alabama : 41381
Alaska : 61137
Arizona : 50602
Arkansas : 39919
California : 57528

In [71]:
#Average income of Arizona
sum = 0
for i in range(2,11):
    sum += incomedf.values[2][i]
    
sum / len(incomedf.values[2][2:])

47214.77777777778

In [94]:
#Average income of 2012
sum=0
for i in incomedf.values:
    sum+=i[-2]
sum/len(incomedf.values[-2][1:])

25019.4